<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="relativeLogPathDebug" value="..\\..\\Data\\Debug\\log.txt"/>
    <add key="relativeLogIntegrityPathDebug" value="..\\..\\Data\\Debug\\logIntegrity.txt"/>
    <add key ="relativedbPathDebug" value="..\\..\\Data\\Debug\\db.txt"/>
    <add key ="relativeprofilePathDebug" value="..\\..\\Data\\Debug\\profile.txt"/>

    <add key="relativeLogPath" value ="\\Data\\Release\\log.txt"/>
    <add key="relativeLogIntegrityPath" value ="\\Data\\Release\\logIntegrity.txt"/>
    <add key ="relativedbPath" value="\\Data\\Release\\db.txt"/>
    <add key="relativeprofilePath" value="\\Data\\Release\\profile.txt"/>
  </appSettings>
</configuration>