KRing/Data/*
KRing/Data/db.txt
KRing/Data/config.txt
KRing/Data/profile.txt
KRing/Data/meta.txt
KRing/obj/Debug/
KRing/obj/Debug
KRing/obj/Debug/*
KRing/Release/Data/*

*.txt
KRing/bin/Release/Data/db.txt
*.txt