<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="relativedbPathDebug" value="..\\..\\Data\\Debug\\db.txt"/>
    <add key ="relativeconfigPathDebug" value ="..\\..\\Data\\Debug\\config.txt"/>
    <add key ="relativemetaPathDebug" value="..\\..\\Data\\Debug\\meta.txt"/>
    <add key ="relativeprofilePathDebug" value="..\\..\\Data\\Debug\\profile.txt"/>
    <add key ="relativedbPath" value="\\Data\\Release\\db.txt"/>
    <add key ="relativeconfigPath" value ="\\Data\\Release\\config.txt"/>
    <add key ="relativemetaPath" value="\\Data\\Release\\meta.txt"/>
    <add key="relativeprofilePath" value="\\Data\\Release\\profile.txt"/>
  </appSettings>
</configuration>