<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="relativeLogPathDebug" value="..\\..\\Data\\Debug\\log.txt"/>
    <add key="relativeLogIntegrityPath" value="..\\..\\Data\\Debug\\logIntegrity.txt"/>
    <add key="relativedbPathDebug" value="..\\..\\Data\\Debug\\db.txt"/>
    <add key="relativeprofilePathDebug" value="..\\..\\Data\\Debug\\profile.txt"/>
    <add key="relativeLogPath" value="\\Data\\Release\\log.txt"/>
    <add key="relativeLogIntegrityPath" value="\\Data\\Release\\logIntegrity.txt"/>
    <add key="relativedbPath" value="\\Data\\Release\\db.txt"/>
    <add key="relativeprofilePath" value="\\Data\\Release\\profile.txt"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
